
@media screen and (max-width: 1280px){

    .Hotels
    {
        flex: 1.5;
    }
    
    .HotelsTab
    {
        grid-template: repeat(1, 1fr) / repeat(1, 1fr);
        margin: 30px 0;
    }

     .ActivitiesTab
     {
        grid-template: repeat(1, 1fr) / repeat(1, 1fr);
        margin: 30px 0;
    }

    .ActivityName
    {
        font-size: 1rem;
    }
}


/* Version Tablette */
@media screen and (max-device-width: 1024px)
{

   
    .Filters
    {
        flex-direction: column;
    }

    .FiltersBarTitle
    {
        align-self: auto;
        margin-bottom: 15px;
    }

    .Filter
    {
        margin: 0 1rem 1rem 0;
    }

   

    .Populars
    {
        margin: 0 0 20px;
    }

    .PopularPic
    {
        height: 180px;
    }

    .PopularDetails .HotelName
    {
        font-size: 1.4rem;
    }

    .PopularDetails p
    {
        font-size: 1.2rem;
    }

    .PopularDetails .fa-star
    {
        font-size: 1rem;
    }

   
    
    .Hotels
    {
        order: 2;
    }

    .HotelsBox
    {
        flex-direction: column;
    }

    
    
    .ActivitiesTab
    {
        height: auto;
    }

    .ActivityPic
    {
        height: 190px;
    }

    .row12, .row5, .row6
    {
        grid-row-end: span 4;
        grid-column-end: span 2;
    }

    .ActivityName
    {
        font-size: 1.1rem;
    }

    

    footer div
    {
        padding: 10px;
    }
}

/* Version Mobile */
@media screen and (max-device-width: 600px)
{

/* Général pour Mobile */

    #main
    {
        margin: 0;
    }

    h2
    {
        font-size: 1.4rem;
    }

    /* En-tete pour mobile */

    header
    {
        margin: 0;
        flex-direction: column;
    }

    .Logo
    {
        margin-left: 20px;
    }

    .SignUp
    {
        align-self: flex-end;
        padding: 0;
        margin-right: 20px;
        position: relative;
        bottom: 30px;
    }

    nav
    {
        order:3;
    }
    
    nav ul
    {
        width: 100%;
    }

    nav li
    {
        width: 50%;
        text-align: center;
        padding: 20px 0;
        border-bottom: 3px solid #f2f2f2;
    }

    nav li a
    {
        padding: inherit;
    }

    nav li a:hover
    {
        border-top: none;
    }

    nav li:hover
    {
        border-bottom-color:#0065FC;
    }

/* Barre de recherche pour mobile */

    .Search
    {
        margin: 30px 20px;
    }

    .SearchInput
    {
        flex: 1;
    }

    .SearchBar
    {
        margin: 35px 0 30px;
    }

    .SearchButton
    {
        position: relative;
        width: 50px;
        border-radius: 15px;
        left: -20px;
    }

    .SearchButton span
    {
        display: none;
    }

    .SearchButton i
    {
        display: inline-block;
    }

/* Barre des filtres pour mobile */

    .Filters
    {
        margin-bottom: 12px;
    }

/* Hébergements le plus populaires pour mobile */

    .Populars
    {
        border-radius: 0;
        padding: 40px 20px 30px;
        margin-bottom: 40px;
    }

    .PopularPic
    {
        height: 145px;
        margin-bottom: 10px;
    }

    .PopularsIcon i
    {
        font-size: 1.4rem;
    }

    .HotelName
    {
        font-size: 1rem !important;
    }

    .PopularDetails p
    {
        font-size: .9rem;
    }

    .PopularDetails
    {
        padding: 15px 10px 10px 20px;
    }

    .fa-star
    {
        font-size: .8rem !important;
        letter-spacing: 1px;
    }

/* Hébergements le plus populaires pour mobile  */

    .HotelFrame
    {
        height: 200px;
    }

    .Hotels
    {
        padding: 0 20px;
        background-color: initial;
    }

    .HotelsTab
    {
        grid-template: repeat(6, 1fr) / 1fr;
        gap: 15px;
    }

    .HotelPic img
    {
        height: 116px;
    }

    .HotelDetails p
    {
        font-size: .9rem;
    }

/* Activités pour mobile */

    .Activities
    {
        margin: 55px 20px 45px;
    }

    .ActivitiesTab
    {
        grid-template: repeat(6, 1fr) / 1fr;
        grid-auto-flow: initial;
        gap: 24px;
    }

    .ActivityPic img
    {   
        height: 120px !important;
    }

    .row12, .row5, .row6
    {
        grid-row-end: span 1;
        grid-column-end: span 1;
    }

/* Pied de page pour mobile */

    footer
    {
        flex-direction: column;
        padding: 45px 30px;
    }

    footer div
    {
        padding: 0;
    }
}