
@media screen and (max-width: 1280px){

    .Hotels
    {
        flex: 1.5;
    }
    
    .HotelsTab
    {
        grid-template: repeat(1, 1fr) / repeat(1, 1fr);
        margin: 30px 30px;
    }

     .ActivitiesTab
     {
        grid-template: repeat(1, 1fr) / repeat(1, 1fr);
        margin: 30px 0;
    }

    .ActivityName
    {
        font-size: 1rem;
    }
}


/* Version Tablette */
@media screen and (max-device-width: 1024px)
{
    
/* En-tete pour tablette */
    
    .Logo img
    {
        width: 160px;
    }
    
/* Barre des filtres pour tablette */
    
    .Filters
    {
        flex-direction: column;
    }

    .FiltersBarTitle
    {
        align-self: auto;
        margin-bottom: 15px;
    }

    .Filter
    {
        margin: 0 1rem 1rem 0;
    }

/* Hébergements le plus populaires pour tablette */ 

    .Populars
    {
        margin: 0 20px 0 20px;
    }

    .PopularPic
    {
        height: 180px;
    }

    .PopularDetails .HotelName
    {
        font-size: 1.4rem;
    }

    .PopularDetails p
    {
        font-size: 1.2rem;
    }

    .PopularDetails .fa-star
    {
        font-size: 1rem;
    }
    
     .PopularsIcon i
    {
        font-size: 1.9rem;
    }

/* Hébergements pour tablette  */
    
    .Hotels
    {
        order: 2;
    }

    .HotelsBox
    {
        flex-direction: column;
    }
    
    .HotelPic
    {
        height: 350px;
    }
    
    .HotelPic img
    {
        height: 200px;
    }

    .HotelName 
    {
        font-size: 1.4rem !important;
    }

    .HotelDetails 
    {
        padding: 5px 5px 5px 5px;
    }

    .HotelDetails p
    {
        font-size: 1.3rem !important;
    }

    .fa-star
    {
        font-size: 1.4rem !important;
        letter-spacing: 1px;
    }

/* Activités pour tablette */
   
    .ActivitiesTab
    {
        gap: 20px;
    }

    .row12, .row5, .row6
    {
        grid-row-end: span 0.5;
        grid-column-end: span 0.5;
    }

    .row12
    {
        width: 190px;
    }

    .ActivityName
    {
        font-size: 1.2rem;
    }

/* Pied de page pour tablette */ 

    footer div
    {
        padding: 10px;
    }
}
 

/* Version Mobile */
@media screen and (max-device-width: 600px)
{

/* Général pour Mobile */

    #main
    {
        margin: 0;
    }

    h2
    {
        font-size: 3.5rem;
    }

/* En-tete pour mobile */

    header
    {
        margin: 0;
        flex-direction: column;
    }

    .Logo
    {
        margin-left: 40px;
    }
    
    .Logo img
    {
        width: 250px;
    }

    .SignUp
    {
        font-size: 2.1rem;
        align-self: flex-end;
        padding: 0;
        margin-right: 20px;
        position: relative;
        bottom: 30px;
    }

    nav
    {
        order:3;
    }
    
    nav ul
    {
        width: 100%;
    }

    nav li
    {
        font-size: 2.1rem;
        width: 50%;
        text-align: center;
        padding: 20px 0;
        border-bottom: 3px solid #f2f2f2;
    }

    nav li a
    {
        padding: inherit;
    }

    nav li a:hover
    {
        border-top: none;
    }

    nav li:hover
    {
        border-bottom-color:#0065FC;
    }

/* Barre de recherche pour mobile */

    .Search p
    {
        margin-top: 50px;
    }

    .Search
    {
        margin: 30px 20px;
    }

    .SearchInput
    {
        flex: 1;
    }

    .SearchBar
    {
        margin: 50px 0 30px;
        height: 110px;
    }

    .LocationBox
    {
        border-radius: 30px 0 0 30px;
        width: 100px;
    }

    .LocationBox i
    {
        margin: auto;
        font-size: 2.1rem;
    }

    .SearchInput
    {
        font-size: 2.4rem;
        font-weight: 400;
    }

    .SearchInput::placeholder
    {
        color: black;
    }
    
    .SearchButton
    {
        position: relative;
        width: 100px;
        border-radius: 30px;
        left: -20px;
    }

    .SearchButton span
    {
        display: none;
    }

.SearchButton i
    {
        font-size: 2.1rem;
        display: inline-block;
    }

/* Barre des filtres pour mobile */

    .Filters
    {
        font-size: 2.1rem;
        font-weight: 600;
        margin-bottom: 30px;
    }

    .Filter
    {
        align-items: center;
        height: 80px;
        border: 6px solid #f2f2f2;
        border-left: none;
        padding-right: 80px;
        border-radius: 80px;
    }

    .FilterIcon
    {
        width: 80px;
        height: 80px;
        border-radius: 50%;
    }

    .InfoIcon
    {
        height: 60px;
        width: 60px;
        border: 1px solid grey;
        border-radius: 50%;
    }

    .InfoBox p
    {
        font-size: 2rem;
    }

    .InfoIcon i
    {
        font-size: 1.4rem;
    }

/* Hébergements le plus populaires pour mobile */

    .Populars
    {
        border-radius: 0;
        padding: 60px 20px 30px;
        margin-bottom: 60px;
    }

    .PopularsIcon h2
    {
        margin-bottom: 60px;
    }

    .PopularPic
    {
        border: 8px solid #fff;
        border-radius: 40px;
        height: 300px;
        margin-bottom: 20px;
    }

    .PopularsIcon i
    {
        font-size: 2.4rem;
    }

    .HotelName 
    {
        font-size: 2.4rem !important;
    }

    .PopularDetails p
    {
        padding-top: 10px;
        font-size: 2.1rem;
    }

    .PopularDetails
    {
        padding: 15px 10px 10px 20px;
    }

    .fa-star
    {
        font-size: 1.6rem !important;
        letter-spacing: 1px;
    }

/* Hébergements le plus populaires pour mobile  */

    .HotelPic
    {
        border: 8px solid #fff;
        box-shadow: 0px 20px 30px #f2f2f2;
        border-radius: 40px;
        height: 600px;
        margin-bottom: 20px;
    }

    .Hotels
    {
        padding: 0 20px;
        background-color: initial;
    }

    .HotelsTab
    {
        grid-template: repeat(6, 1fr) / 1fr;
        gap: 15px;
    }

    .HotelPic img
    {
        height: 350px;
    }

    .HotelDetails p
    {
        font-size: 2.1rem;
    }

    .ShowMore
    {
        font-size: 2.1rem;
        padding-bottom: 80px;
    }

/* Activités pour mobile */

    .Activities
    {
        margin: 130px 20px 45px;
    }

    .ActivitiesTab
    {
        grid-template: repeat(6, 1fr) / 1fr;
        grid-auto-flow: initial;
        gap: 30px;
        height: 3500px;
    }

    .ActivityPic
    {   
        border-radius: 60px;
        box-shadow: 0px 20px 30px #f2f2f2;
    }

    .ActivityPic img
    {   
        height: 450px !important;
    }

    .row12, .row5, .row6
    {
        grid-row-end: span 1;
        grid-column-end: span 1;
    }

    .row12
    {
        width: 100%;
    }

    .ActivityName
    {
        font-size: 2.1rem;
        padding: 20px 20px;
        padding-left: 40px;
    }
   

/* Pied de page pour mobile */

    footer
    {
        font-size: 1.25rem;
        flex-direction: column;
        padding: 45px 30px;
    }

    footer div
    {
        padding: 0;
    }
}
