
@media screen and (max-width: 1280px){

    .Hotels
    {
        flex: 1.5;
    }
    
    .HotelsTab
    {
        grid-template: repeat(1, 1fr) / repeat(1, 1fr);
        margin: 30px 30px;
    }

     .ActivitiesTab
     {
        grid-template: repeat(1, 1fr) / repeat(1, 1fr);
        margin: 0px 0px;
    }

    .ActivityName
    {
        font-size: 1rem;
    }
}


/* Version Tablette */
@media only screen and (max-width: 1024px)
{
    
/* En-tete pour tablette */
    
    .Logo img
    {
        width: 160px;
    }
    
/* Barre des filtres pour tablette */
    
    .Filters
    {
        flex-direction: column;
        font-size: 0.9rem;
    }

   .FiltersBar
    {
        justify-content: space-between;
    }

    .FiltersBarTitle
    {
        align-self: auto;
        margin-bottom: 15px;
    }

    .Filter
    {
        margin: 0px;
    }

    .FilterIcon
    {
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }


/* Hébergements le plus populaires pour tablette */ 

    .Populars
    {
        margin: 0 20px 60px 20px;
    }

    .PopularPic
    {
        height: 180px;
    }

    .PopularDetails .HotelName
    {
        font-size: 1.1rem;
    }

    .PopularDetails p
    {
        font-size: 1.0rem;
    }

    .PopularDetails .fa-star
    {
        font-size: 1rem;
    }
    
     .PopularsIcon i
    {
        font-size: 1.9rem;
    }

/* Hébergements pour tablette  */
    
    .Hotels
    {
        order: 2;
        margin-bottom:40px;
    }

    .HotelsBox
    {
        flex-direction: column;
    }
    
    .HotelPic
    {
        height: 300px;
    }
    
    .HotelPic img
    {
        height: 180px;
    }

    .HotelName 
    {
        font-size: 1.1rem !important;
    }

    .HotelDetails 
    {
        padding: 5px 5px 5px 5px;
    }

    .HotelDetails p
    {
        font-size: 1.0rem !important;
    }

    .fa-star
    {
        font-size: 1.2rem !important;
        letter-spacing: 1px;
    }

/* Activités pour tablette */
   
    .ActivitiesTab
    {
        margin-top: 40px;
        gap: 15px;
    }


    .row12, .row5, .row6
    {
        grid-row-end: span 0.5;
        grid-column-end: span 0.5;
    }

    .row5
    {
        height: 210px;
    }

    .row12
    {
        width: 180px;
    }

    .ActivityName
    {
        font-size: 1.0rem;
    }

/* Pied de page pour tablette */ 

    footer div
    {
        padding: 10px;
    }
}
 

/* Version Mobile - iPhone 8plus*/
@media only screen and (max-width: 500px)
{

/* Général pour Mobile */

    #main
    {
        margin: 0;
    }

    h2
    {
        font-size: 1.6rem;
    }

/* En-tete pour mobile */

    header
    {
        margin: 0;
        flex-direction: column;
    }

    .Logo
    {
        margin-left: 30px;
    }
    
    .Logo img
    {
        width: 120px;
    }

    .SignUp
    {
        font-size: 1.3rem;
        align-self: flex-end;
        padding: 0;
        margin-right: 20px;
        position: relative;
        bottom: 40px;
    }

    nav
    {
        order:3;
    }
    
    nav ul
    {
        width: 100%;
    }

    nav li
    {
        font-size: 1.2rem;
        width: 50%;
        text-align: center;
        padding: 10px 0;
        border-bottom: 3px solid #f2f2f2;
    }

    nav li a
    {
        padding: inherit;
    }

    nav li a:hover
    {
        border-top: none;
    }

    nav li:hover
    {
        border-bottom-color:#0065FC;
    }

/* Barre de recherche pour mobile */

    .Search p
    {
        margin-top: 20px;
        font-size: 1.2rem;
    }

    .Search
    {
        margin: 30px 20px;
    }

    .SearchInput
    {
        flex: 1;
    }

    .SearchBar
    {
        margin: 50px 0 40px;
        height: 60px;
    }

    .LocationBox
    {
        border-radius: 15px 0 0 15px;
        width: 60px;
    }

    .LocationBox i
    {
        margin: auto;
        font-size: 1.4rem;
    }

    .SearchInput
    {
        font-size: 1.4rem;
        font-weight: 600;
    }

    .SearchInput::placeholder
    {
        color: black;
    }
    
    .SearchButton
    {
        position: relative;
        width: 60px;
        border-radius: 15px;
        left: -5px;
    }

    .SearchButton span
    {
        display: none;
    }

    .SearchButton i
    {
        font-size: 1.4rem;
        display: inline-block;
    }

/* Barre des filtres pour mobile */

    .Filters
    {
        flex-wrap: wrap;
        font-size: 1.2rem;
        font-weight: 600;
        margin-bottom: 20px;
    }

    .Filter
    {
        margin-right: 5px;
        margin-bottom: 10px;
        align-items: center;
        height: 50px;
        border: 3px solid #f2f2f2;
        border-left: none;
        padding-right: 20px;
        border-radius: 40px;
    }

    .FilterIcon
    {
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }

    .InfoIcon
    {
        height: 30px;
        width: 40px;
        border: 1px solid grey;
        border-radius: 50%;
    }

    .InfoBox p
    {
        font-size: 1.1rem;
    }

    .InfoIcon i
    {
        font-size: 1rem;
    }

/* Hébergements le plus populaires pour mobile */

    .Populars
    {
        margin-left: 0px;
        margin-right:0px;
        border-radius: 0;
        padding: 40px 20px 30px;
        margin-bottom: 50px;
    }

    .PopularsIcon h2
    {
        font-size: 1.4rem;
        margin-bottom: 40px;
    }

    .PopularPic
    {
        border: 5px solid #fff;
        border-radius: 20px;
        height: 150px;
        margin-bottom: 10px;
    }

    .PopularsIcon i
    {
        font-size: 1.6rem;
    }

    .HotelName 
    {
        font-size: 1.1rem !important;
    }

    .PopularDetails p
    {
        font-size: 1.0rem;
    }

    .PopularDetails
    {
        padding: 15px 10px 10px 20px;
    }

    .fa-star
    {
        font-size: 0.8rem !important;
        letter-spacing: 1px;
    }

/* Hébergements pour mobile  */

    .HotelsTab
    {
        grid-template: repeat(6, 1fr) / 1fr;
        gap: 10px;
        margin: 20px 0px;
    }

    .Hotels
    {
        padding: 0 20px;
        background-color: initial;
        margin-bottom: 20px;
    }

    .Hotels h2
    {
        font-size: 1.4rem;
        margin-bottom: 30px;
    }

    .HotelPic
    {
        width: 100%;
        border: 5px solid #fff;
        border-radius: 20px;
        height: 250px;
        margin-bottom: 10px;
    }

    .HotelPic img
    {
        height: 150px;
    }

    .HotelDetails p
    {
        font-size: 1.0rem;
        padding: 0px;
    }

    .ShowMore
    {
        font-size: 1.1rem;
        padding-bottom: 80px;
    }

/* Activités pour mobile */

    .Activities
    {
        margin: 40px 20px 45px;
    }

    .Activities h2
    {
        font-size: 1.4rem;
    }

    .ActivitiesTab
    {
        grid-template: repeat(6, 1fr) / 1fr;
        grid-auto-flow: initial;
        gap: 30px;
        height: 1400px;
    }

    .ActivityPic
    {   
        height: 180px;
        border-radius: 80px;
        box-shadow: 0px 20px 30px #f2f2f2;
    }

    .ActivityPic img
    {   
        height: 150px !important;
    }

    .row12, .row5, .row6
    {
        grid-row-end: span 1;
        grid-column-end: span 1;
    }

    .row12
    {
        width: 100%;
    }

    .ActivityName
    {
        font-size: 1.0rem;
        padding: 20px 20px;
        padding-left: 30px;
    }
   

/* Pied de page pour mobile */

    footer
    {
        font-size: 1rem;
        flex-direction: column;
        padding: 45px 30px;
    }

    footer div
    {
        padding: 5px 10px;
    }
}

/* Version Mobile - iPhone 8*/
@media only screen and (max-width: 400px)
{
    h2
    {
        font-size: 1.45rem;
    }

/* En-tete pour mobile */

    .Logo
    {
        margin-left: 20px;
    }
    
    .Logo img
    {
        width: 100px;
    }

    .SignUp
    {
        font-size: 1.2rem;
        bottom: 30px;
    }

    nav li
    {
        font-size: 1.1rem;
    }

/* Barre de recherche pour mobile */

    .Search p
    {
        font-size: 1.1rem;
    }

    .SearchBar
    {
        margin: 40px 0 50px;
    }

    .LocationBox i
    {
        font-size: 1.2rem;
    }

    .SearchInput
    {
        font-size: 1.3rem;
    }

/* Barre des filtres pour mobile */

    .Filters
    {
        font-size: 1.1rem;
        margin-bottom: 10px;
    }

    .Filter
    {
        margin-right: 5px;
        padding-right: 11px;
    }

    .FilterIcon
    {
        width: 50px;
        height: 50px;
    }

    .InfoBox p
    {
        font-size: 0.9rem;
    }

    .InfoIcon
    {
        width: 45px;
    }

/* Hébergements le plus populaires pour mobile */

    .PopularsIcon h2
    {
        font-size: 1.3rem;
    }
   
    .HotelName 
    {
        font-size: 1.0rem !important;
    }

    .PopularDetails p
    {
        font-size: 0.9rem;
    }

/* Activités pour mobile */

    .Activities h2
    {
        font-size: 1.3rem;
    }
 }